
// Your variable overrides
$body-bg: #ffffff;
$body-color: #000000;
$btn-border-radius: .1rem;
$btn-padding-y: .3rem;
$btn-font-size: 12px;
$jumbotron-bg: #c285ff;
$jumbotron-color: #000;
$card-border-radius: 1.5rem;
$card-border-width: 0.001rem;
$card-inner-border-radius: 0;
$font-family-base: "Roboto";
$headings-font-family: "Roboto Thin 100", sans-serif;
$spacer: 1rem;
$font-size-base: 1rem;
$navbar-brand-font-size: 1.5rem;
$border-width: 1px;




$theme-colors: (
        "primary": #9f85ff,
        "dark": #fdfdfd,
        "secondary": #696969,

);

$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 4)
);



.btn {
  text-transform: lowercase;
  letter-spacing: 1.75px;
  font-family: "Roboto", sans-serif;
}

.card {
  padding: 2rem;
}

.card-title {
}

.card-text {
  font-size: 10px;
}

.jumbotron {

  border-radius: 0 !important;

}

form {
  border-radius: $card-border-radius;
}

.navbar {
  letter-spacing: 2px;
  font-family: $headings-font-family;
}

#navbarNav {
  font-size: ($font-size-base * 1.1);

}

 li .border-bottom {
  border: ($border-width * 5) solid;
}



 
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
